body{
    color:rgb(75, 82, 75);
    font-size:30px;
    background-image:url("https://i.ytimg.com/vi/BYbKYUCLjNU/maxresdefault.jpg");
}
#messi{
    color:brown;
    background-color:yellow;
    font-size:20px;
}
#Ronaldo{
    color:brown;
    background-color:yellow;
    font-size:20px;
}
#kobeBryant{
    color:brown;
    background-color:yellow;
    font-size:20px;
}#Maradona{
    color:brown;
    background-color:yellow;
    font-size:20px;
}#MichaelJordan{
    color:brown;
    background-color:yellow;
    font-size:20px;
}#LebronJames{
    color:brown;
    background-color:yellow;
    font-size:20px;
}
#Zidane{
    color:brown;
    background-color:yellow;
    font-size:20px;
}
#DavidBeckham{
    color:brown;
    background-color:yellow;
    font-size:20px;
}
#Ronaldinho{
    color:brown;
    background-color:yellow;
    font-size:20px;
}
#Neymar{
    color:brown;
    background-color:yellow;
    font-size:20px;
}
#addshow{
    color:brown;
    background-color:yellow;
    font-size:20px;
}